<p id="notice"><%= notice %></p>

<div class='container-fluid'>
  <div class='row'>
    <div id='sideBar' class='col-md-3'>
      <h1>Listing Posts</h1>
    </div>

      <% @posts.each do |post|  %>
      <p>
        <%= link_to "#{post.title}", post_path(post) %>
      </p>
      <% end %>

    <%= link_to 'New Post', new_post_path %>

  </div>
</div