
<div class='container-fluid'>
  <div id="index-container" class='row'>
    <div id='sideBar' class=' col-sm-3'>
      <div class='page-header'>
         <h1>Do </h1>
         <small>for me and you</small>
      </div>

    </div>
    <div id="postsList" class=' col-sm-9'>
      <div class='container'>
        <% @posts.each do |post|  %>
          <section>

              <h2><%= post.title %></h2>
              <p><%= post.body %></p>

           </section>

        <% end %>
      </div>
      </div>
      <%= link_to 'New Post', new_post_path %>
    </div>
  </div>
</div>