#sideBar{
  background:rgb(90, 28, 28);
  height:100%;
  color:white;
}

.page-header{
  font-family: 'Monoton', cursive;
    margin: 30px 25px;
  text-align:center;
}

.page-header h1{
  font-size:100px;
}

#index-container{
  position:fixed;
  height:100%;
  width:100%;
  background:white;
}

.blogPost{
  position:relative;
  width:90%;

  margin-top:25px;
  margin-bottom: 50px;
}

.blogPost h2{
  font-family: 'Helvetica', cursive;
  position:relative;
  width:90%;
  color: gray;
}

span{
  display:inline;
}